* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
    min-height: 2000px;
    font-family: 'Open Sans', sans-serif;
}



/******************************* COMUNI */

hr {
    border: none;
    height: 1px;
    background-color: lightgray;
}

.w-25 {width: 25%;}
.w-30 {width: 30%;}
.w-50 {width: 50%;}
.w-60 {width: 60%;}
.w-70 {width: 70%;}
.w-100 {width: 100%;}

.p-20 {padding: 20px;}


.mt-50{margin-top: 50px;}

.my-40{margin: 40px 0 40px 0;}

.mb-10{margin-bottom: 10px;}
.mb-30{margin-bottom: 30px;}
.mb-100{margin-bottom: 100px;}

.lefted {text-align: left;}
.centered {text-align: center;}

.btn-blue {
    background-color: #0061ff;
    color: white;
    display: inline-block;
    padding: 8px 25px 8px 25px;
}

.btn-marg {
    margin: 20px 0 20px 0;
}

.btn-blue a {
    text-decoration: none;
    color: inherit;
}

/************* LINK */

.header-item a {
    text-decoration: none;
    color: inherit;
}

.jumbotron a {
    text-decoration: none;
    color: inherit;
}



/********************************* FLEX */

.d-flex {display: flex;}
.wrapped {flex-wrap: wrap;}
.flex-col {flex-direction: column;}

/******************************* HEADER */

.header-item {
    height: 100%;
    padding: 8px 10px 8px 10px;
}

header {
    background-color: white;
    color: grey;
    width: 100%;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    position: fixed;
    top: 0;
}

/********************************* MAIN */
main{
    background-color: white;
}

/************ JUMBOTRON */

.jumbotron {
    background-color: #b4d0e7;
    padding-top: 160px;
    height: 756px;
}

.jumbo-content {
    margin: 0 auto;
    height: calc(100% + 80px);
}

h1 {
    font-size: 80px;
}

.left-box-jumbo {
    min-height: 200px;
    width: 30%;
    font-size: 16px;
    color: rgb(51, 51, 51);
}


.right-box-jumbo {
    min-height: 200px;
    width: 70%;
}

.jumbo-img {
    max-width:100%;
    max-height:100%;
}

.arrow {
    margin-top: 80px;
    font-size: 50px;
}
/* FINE JUMBO */

/*********************** PIANI TARIFFARI */

/* BOTTONI */

.tariff-plans {
    margin: 120px auto 0 auto;
    min-height: 200px;
}

.tariff-title {
    margin-bottom: 50px;
}

input:last-child {
    margin-left: 40px;
}

/* BOX TARIFFE */

.plan-column {
    border: 1px solid lightgray;
}

.tariff-box {
    text-align: center;
    justify-content: space-between;
}

/* CONTENUTO COLONNA TARIFFE */
.column-text {
    padding: 20px;
}

.installment {
    opacity: 0.5;
    padding: 20px 0 40px 0;
}

.column-parag {
    padding-bottom: 20px;
    font-size: 15px;
}

.column-title {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.down-box {
    border: 1px solid lightgray;

}

.leftbox {
    padding: 20px;
}